<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.concertsapp.android.gui"
    android:versionCode="1"
    android:versionName="0.44"
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <permission android:name="es.concertsapp.android.gui.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="es.concertsapp.android.gui.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />



    <application android:name="es.concertsapp.android.utils.MyApplication" android:icon="@drawable/ic_principal" android:label="@string/app_name" android:allowBackup="true">

        <!-- <uses-library android:name="com.google.android.maps" /> -->
        <activity
            android:name="es.concertsapp.android.gui.mainpage.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".event.detail.EventInfoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
                android:name=".event.detail.EventMapActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDtXr3zXYg_-cYwjTtduH8fLilO4n5ZShQ"/>

        <activity
            android:name=".band.detail.BandInfoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity
                android:name=".band.list.BandMainActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:windowSoftInputMode="stateUnchanged|adjustResize" >
        </activity>
        <activity
                android:name=".event.list.EventListActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:windowSoftInputMode="stateUnchanged|adjustResize">
        </activity>
        <activity
                android:name=".legal.LegalConditionsActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:windowSoftInputMode="stateUnchanged|adjustResize">
        </activity>

        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />

        <receiver android:name=".player.SongPlayerBR" >
            <intent-filter>
                <action android:name="es.concertsapp.android.gui.player.STOPPLAYER">
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>